<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Bimer Test Suite">
            <directory>tests</directory>
            <exclude>./tests/ResourceTest.php</exclude>
        </testsuite>
    </testsuites>
    <php>
        <env name="BIMER_API_URL" value="api_url"/>
        <env name="BIMER_API_ID" value="client_id"/>
        <env name="BIMER_API_SECRET" value="client_secret"/>
        <env name="BIMER_API_USER" value="username"/>
        <env name="BIMER_API_PWD" value="password"/>
        <env name="BIMER_API_TIMEOUT" value="30"/>
        <env name="DATA_PERSON" value='{"cpfCnpj":"36.462.778/0001-60", "Identificador": "00A00005XC"}' />
        <env name="DATA_INCOME" value='{"CodigoEmpresa":"1","IdentificadorPessoa":"00A00005XC","IdentificadorFormaPagamento":"00A0000048","CodigoEnderecoCobranca":"01","IdentificadorNaturezaLancamento":"00A00000BS"}' />
        <env name="DATA_INCOME_BATCH" value='{"CodigoEmpresa":1,"LoteAReceberItemBaixa":[{"IdentificadorFormaPagamento":"00A0000048","IdentificadorTipoBaixa":"00A0000001","IdentificadorContaBancaria":"00A000000B"}]}' />
        <env name="DATA_ACCOUNT" value='{"description":"caixa","id":"00A0000005"}' />
        <env name="DATA_CHARACTERISTIC" value='{"Identificador":"00A00000EL"}' />
        <env name="DATA_AREA_TYPE" value='{"description":"RUA","id":"00A00000L0"}' />
        <env name="DATA_ADDRESS" value='{"CEP":"03877100","IdentificadorBairro":"00A0000001","IdentificadorCidade":"00A0000001","IdentificadorTipoLogradouro":"00A00000L0","SiglaUnidadeFederativa":"SP"}'/>
    </php>
</phpunit>
